<article class="chat">
	<div class="content">
		{{ chat.as_html|safe }}
	</div>
	
	<aside>
		<a href="{% url chats-show chat.id %}" class="permalink">♦ Permalink ♦</a>
		
		<time><span class="off-screen">Posted: </span>{{ chat.created_at }}</time>
		
		{% if chat.friend_groups.exists %}
			<h4 class="off-screen">Posted in:</h4>
			<ul class="friend-groups inline">
				{% for group in chat.friend_groups_ordered %}
					<li><a href="#">{{ group.name }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</aside>
</article>
